<div class="container">
  <div class="jumbotron">
    <div class="row">

        <div class="col-sm-6">
          <app-progresso></app-progresso>
        </div>

        <div class="col-sm-6">
          <app-tentetivas></app-tentetivas>
        </div>
  </div>

    <div class="row">
        <div class="col">
           <h6>Traduza a frase:</h6>
            <p>How are you ?</p>

            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
      </div>
    </div>
  </div>
  <h4>
    Este projeto que estou criando do zero , é um App que ajudará pessoas a aprender inglês de forma prática e divertida
    ,além de dar uma base sólida ao desenvolvedor sobre : dataBinding,criação de páginas
    responsivas usando bootstrap,interpolação,eventBindings,diretivas ngIf e ngFor ,
     life-cycle-hooks e mais algum conhecimento
    . Criarei uma barra de progresso  e tela exibindo acertos e errros.
     (este texto que acabou de ler, não será exibido no app,talvês no readme)
  </h4>
  <h3>José carlos </h3>
</div>
